body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

#buscador {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 10px;
}

.objeto {
    display: inline-block;
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.pagination-button {
    margin: 0 5px;
}