.container{
     display:"flex";
      flex-direction:"column";
}
#buscador {
    display: flex;
    flex-direction: row;
}
#buscador form {
    display:flex;
    flex-direction: row;
}
#buscador .input {
    display: flex;
    flex-direction: column;

}
#grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}